
h3{
    align-content: center;
}


.App-cards-list {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-cards-list > * {
  transform: scale(0.9);
  margin-bottom: 30px !important;
}
